body {
    background-color: #212121;
}
.navbar {
    margin-bottom: 0px;
}
.navbar-default {
    background-color: #000;
    border: none;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
}
.thumbnail {
    padding: 0px;
    border: none;
    border-radius: 0px;
}
.thumbnail > img, .thumbnail a > img {
    width: 100%;
    margin: 0px;
}
.thumbnail .caption {
    background-color: white;
}
.caption h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
// .caption p > a {
//     width: 100%;
// }
.caption p {
    margin-bottom: 5px;
}
